.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(125deg, #005ca9, #0198d1);
  width: 100%;
  height: 100%;
}

@media screen and (max-height: 600px) {
  .container {
    align-items: flex-start;
    overflow: scroll;
  }
}

.signUpContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.1);
  width: 440px;
  height: 600px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 450px) {
  .signUpContainer {
    width: 90%;
    overflow: scroll;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixaContainer {
  position: absolute;
  top: 10px;
  left: 10px;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input,
.input_invalid {
  height: 50px;
  padding: 0 20px;
  border: 0;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
}

.input_invalid:hover {
  outline: 2px solid #fc0202;
}

.input:focus {
  outline: 2px solid #f39200;
}

.button {
  background: #f39200;
  height: 50px;
  outline: 0;
  border: 0;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  margin: 20px 0;
  font-weight: bold;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: #ff9900;
  cursor: pointer;
}

.button:active {
  background: #e68a00;
}

.button:disabled {
  background: #ffcc80;
  cursor: normal;
}

.option {
  color: #fff;
  font-size: 16px;
}

.help {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 14px;;
  margin: 10px 0;
}

.version {
  color: #bcbfc0;
  font-size: 16px;
}
